---
import {SITE_TITLE, SITE_DESCRIPTION} from '../constants';
import Head from '../components/head.astro';
---

<html lang="es">
	<head>
		<Head title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<h1>Astro</h1>
	</body>
</html>
