---
import Head from "../components/head.astro";
import Body from "../components/body.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../constants";
---

<html lang="es" class="dark">
  <head>
    <Head title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header />
    <main class="container mx-auto p-6">
      <h1 class="font-montserrat text-3xl font-bold">Astro</h1>
      <p class="font-esteban text-base mb-8">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed,
        repellendus repellat doloremque non quaerat impedit vero veniam nesciunt
        sequi pariatur quibusdam, reiciendis ex tempore sunt. Nisi nostrum odio
        maiores nesciunt! Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Laudantium veritatis suscipit iusto beatae, ab nam aliquam eos
        quam cupiditate inventore, cum earum unde repellat vitae facilis.
        Exercitationem quasi repellat vero?
      </p>
      <p class="font-esteban text-base mb-8">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed,
        repellendus repellat doloremque non quaerat impedit vero veniam nesciunt
        sequi pariatur quibusdam, reiciendis ex tempore sunt. Nisi nostrum odio
        maiores nesciunt! Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Laudantium veritatis suscipit iusto beatae, ab nam aliquam eos
        quam cupiditate inventore, cum earum unde repellat vitae facilis.
        Exercitationem quasi repellat vero?
      </p>
      <p class="font-esteban text-base mb-8">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed,
        repellendus repellat doloremque non quaerat impedit vero veniam nesciunt
        sequi pariatur quibusdam, reiciendis ex tempore sunt. Nisi nostrum odio
        maiores nesciunt! Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Laudantium veritatis suscipit iusto beatae, ab nam aliquam eos
        quam cupiditate inventore, cum earum unde repellat vitae facilis.
        Exercitationem quasi repellat vero?
      </p>
      <p class="font-esteban text-base mb-8">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed,
        repellendus repellat doloremque non quaerat impedit vero veniam nesciunt
        sequi pariatur quibusdam, reiciendis ex tempore sunt. Nisi nostrum odio
        maiores nesciunt! Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Laudantium veritatis suscipit iusto beatae, ab nam aliquam eos
        quam cupiditate inventore, cum earum unde repellat vitae facilis.
        Exercitationem quasi repellat vero?
      </p>
      <p class="font-esteban text-base mb-8">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed,
        repellendus repellat doloremque non quaerat impedit vero veniam nesciunt
        sequi pariatur quibusdam, reiciendis ex tempore sunt. Nisi nostrum odio
        maiores nesciunt! Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Laudantium veritatis suscipit iusto beatae, ab nam aliquam eos
        quam cupiditate inventore, cum earum unde repellat vitae facilis.
        Exercitationem quasi repellat vero?
      </p>
      <p class="font-esteban text-base mb-8">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed,
        repellendus repellat doloremque non quaerat impedit vero veniam nesciunt
        sequi pariatur quibusdam, reiciendis ex tempore sunt. Nisi nostrum odio
        maiores nesciunt! Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Laudantium veritatis suscipit iusto beatae, ab nam aliquam eos
        quam cupiditate inventore, cum earum unde repellat vitae facilis.
        Exercitationem quasi repellat vero?
      </p>
      <p class="font-esteban text-base mb-8">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed,
        repellendus repellat doloremque non quaerat impedit vero veniam nesciunt
        sequi pariatur quibusdam, reiciendis ex tempore sunt. Nisi nostrum odio
        maiores nesciunt! Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Laudantium veritatis suscipit iusto beatae, ab nam aliquam eos
        quam cupiditate inventore, cum earum unde repellat vitae facilis.
        Exercitationem quasi repellat vero?
      </p>
      <p class="font-esteban text-base">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed,
        repellendus repellat doloremque non quaerat impedit vero veniam nesciunt
        sequi pariatur quibusdam, reiciendis ex tempore sunt. Nisi nostrum odio
        maiores nesciunt! Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Laudantium veritatis suscipit iusto beatae, ab nam aliquam eos
        quam cupiditate inventore, cum earum unde repellat vitae facilis.
        Exercitationem quasi repellat vero?
      </p>
      <p class="font-esteban text-base mb-8">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed,
        repellendus repellat doloremque non quaerat impedit vero veniam nesciunt
        sequi pariatur quibusdam, reiciendis ex tempore sunt. Nisi nostrum odio
        maiores nesciunt! Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Laudantium veritatis suscipit iusto beatae, ab nam aliquam eos
        quam cupiditate inventore, cum earum unde repellat vitae facilis.
        Exercitationem quasi repellat vero?
      </p>
      <p class="font-esteban text-base mb-8">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed,
        repellendus repellat doloremque non quaerat impedit vero veniam nesciunt
        sequi pariatur quibusdam, reiciendis ex tempore sunt. Nisi nostrum odio
        maiores nesciunt! Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Laudantium veritatis suscipit iusto beatae, ab nam aliquam eos
        quam cupiditate inventore, cum earum unde repellat vitae facilis.
        Exercitationem quasi repellat vero?
      </p>
    </main>
    <Footer />
    <script src="../js/main.js"></script>
  </Body>
</html>
