---
import { getCollection } from "astro:content";
import FeaturedPost from "./featured-post.astro";
import Post from "./post.astro";

const posts = (await getCollection("blog"))
  .filter((post) => {
    return import.meta.env.PROD ? post.data.published : true;
  })
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());

const featured = posts.find((post) => post.data.featured);
---

<section class="flex flex-col items-start feed box-content">
  <FeaturedPost url={featured!.slug} {...featured!.data} />
  <section class="grid md:grid-cols-3 grid-cols-1 gap-8 my-10 px-6">
    {
      posts.map((post) => {
        if (!post.data.featured) {
          return <Post url={post.slug} {...post.data} />;
        }
      })
    }
  </section>
</section>
<style>
  .feed {
    width: min(1280px, 100%);
  }
</style>
