---
import { getCollection } from "astro:content";
import FeaturedPost from "./featured-post.astro";
import Post from "./post.astro";

import { filteredBlogPosts } from "../utils/filter";

const posts = await getCollection("blog");

const filteredPost = await filteredBlogPosts(posts, {
  filterOutDrafts: import.meta.env.PROD,
  filterOutFuturePosts: false,
});
const featured = posts.findLast((post) => post.data.featured);
---

<section class="flex flex-col items-start feed box-content md:my-12">
  {featured && <FeaturedPost url={featured.slug} {...featured.data} />}
  <section class="grid lg:grid-cols-3 grid-cols-1 gap-8 my-10 px-6">
    {
      filteredPost.map((post) => {
        if (!post.data.featured) {
          return <Post url={post?.slug} {...post?.data} />;
        }
      })
    }
  </section>
</section>
<style>
  .feed {
    width: min(1280px, 100%);
  }
</style>
