---
import HeartIcon from "./icons/heart.astro";
import CodeIcon from "./icons/code.astro";

const year = new Date().getFullYear();
---

<footer
  class="sm:px-6 py-7 bg-slate-200 dark:bg-zinc-700 border-slate-100 dark:border-slate-900 border-t-[0.5px] transition-colors duration-500"
>
  <div class="flex items-center flex-row mx-auto container justify-center">
    <CodeIcon />
    <span class="mx-2 text-[#60739F] dark:text-slate-300 font-montserrat text-l"
      >con</span
    >
    <HeartIcon />
    <span class="ml-2 text-[#60739F] dark:text-slate-300 font-montserrat text-l"
      >desde Medellín &nbsp;|&nbsp; codeo &copy; {year}</span
    >
  </div>
</footer>
