---
const year = new Date().getFullYear();
---

<footer
  class="sm:px-6 py-10 bg-slate-200 dark:bg-zinc-700 border-slate-100 dark:border-slate-900 border-t-[0.5px] transition-colors duration-500"
>
  <div class="flex items-center flex-row mx-auto container justify-center">
    <svg viewBox="0 0 24 24" class="w-6 h-6 fill-[#60739F] dark:fill-slate-300">
      <path
        d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z"
      ></path>
    </svg>
    <span class="mx-2 text-[#60739F] dark:text-slate-300 font-montserrat text-l"
      >con</span
    >
    <svg viewBox="0 0 24 24" class="w-6 h-6 fill-[#60739F] dark:fill-slate-300">
      <path
        d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
      ></path>
    </svg>
    <span class="ml-2 text-[#60739F] dark:text-slate-300 font-montserrat text-l"
      >desde Medellín &nbsp;|&nbsp; codeo &copy; {year}</span
    >
  </div>
</footer>
