---
const { title } = Astro.props;
---

<div class="px-6 py-4 my-16">
  <div class="border-b-[1px] pb-12 border-gray-200 dark:border-gray-700">
    <h1 class="font-extralight font-lato text-3xl">{title}</h1>
  </div>
</div>
